{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ApplicationConfiguration": {
    "ConnectionString": "Server=0.0.0.0,{{env['DB_PORT']}};Database={{env['DB_NAME']}};User Id=SA;Password={{env['DB_PASSWORD']}};Encrypt=true;TrustServerCertificate=true;",
    "ClientId": "{{env['CLIENT_ID']}}",
    "ClientSecret": "{{env['CLIENT_SECRET']}}",
    "HomeUrl": "http://0.0.0.0:{{env['PIXEL_PORT']}}/"

  }
}
