{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ApplicationConfiguration": {
    "ConnectionString": "Server=sqlserver,{{env['DB_PORT']}};Database={{env['DB_NAME']}};User Id=SA;Password={{env['DB_PASSWORD']}};Encrypt=true;TrustServerCertificate=true;",
    "ClientId": "{{env['CLIENT_ID']}}",
    "ClientSecret": "{{env['CLIENT_SECRET']}}",
    "RedirectUrl": "https://{{env['PROD_URL']}}/"
  }
}