version: '3.8'

services:
  pixelpainter:
    image: pixelpainter:v{{env['PIXEL_VERSION']}}
    container_name: pixelpainter
    ports:
      - "{{env['PIXEL_PORT']}}:{{env['PIXEL_PORT']}}"
    # Add volumes for branch and https certs
    networks:
      - pixel_network
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver
    environment:
      - SA_PASSWORD={{env['DB_PASSWORD']}} # Retrieves password from .env file
      - ACCEPT_EULA=Y
    ports:
      - "{{env['DB_PORT']}}:{{env['DB_PORT']}}"
    volumes:
      - ../init.sql:/init.sql # Copies the init sql script to the container
      - ./entrypoint.sh:/entrypoint.sh # Copies the entrypoint script to the container
      - /var/www/app/db:/var/opt/mssql # Uncomment this line and volumes to persist data
    command: ["sh", "/entrypoint.sh"] # Runs the entrypoint script on startup
    networks:
      - pixel_network

networks:
  pixel_network:

# volumes: 
#   sqlserverdata:
    