version: '3.8'

services:
  pixelpainter:
    image: pixelpainter:v{{PIXEL_VERSION}}
    container_name: pixelpainter
    ports:
      - "{{PIXEL_PORT}}:{{PIXEL_PORT}}"
    # Add volumes for branch and https certs
    networks:
      - pixel_network
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sqlserver
    environment:
      - SA_PASSWORD={{DB_PASSWORD}} # Retrieves password from .env file
      - ACCEPT_EULA=Y
    ports:
      - "{{DB_PORT}}:{{DB_PORT}}"
    volumes:
      - ../init.sql:/init.sql # Copies the init sql script to the container
      - ./entrypoint.sh:/entrypoint.sh # Copies the entrypoint script to the container
      - /www/:/var/opt/mssql # Uncomment this line and volumes to persist data
    command: ["sh", "/entrypoint.sh"] # Runs the entrypoint script on startup
    networks:
      - pixel_network

networks:
  pixel_network:

# volumes: 
#   sqlserverdata:
    